.text-style{
    font-size: medium;
    font-style: normal;
    font-weight: bold;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
}

.items-wrapper{
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.margin{
    margin: 10px;
}

.navbar-primary-wrapper{
    padding: 25px;
    box-shadow: 2px 2px grey;
}

.bold-text{
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.search-bar{
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 20px;
    line-height: 24px;
    /* width: 95%; */
    color: #696e79;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 8px 10px 10px;
    margin: 0;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
}

.align-icons{
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.align-icons i{
    text-align: center;
}